@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');
$font-family: 'Montserrat', sans-serif;

$color-gray: #AFAFAF;
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #FF4359;
$color-red-alpha: #FC435933;
